body {
  background-color: lightgrey;
  height: 100vh;
  margin: 0 auto;
}
.container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/061/674/original/1006245.jpg?1673034335");
  background-size: cover;
  display: block;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 5px 15px 15px #678983;
  margin: 20px auto;
  padding: 30px;
  max-width: 1000px;
  opacity: 0.9;
}
.weekdays {
  color: #181d31;
  display: block;
  margin: 0 auto;
  transition: all 100ms;
}
.weekdays :hover {
  background-color: #dfd3c3;
}
.date {
  color: #f9f9f9;
  position: relative;
  bottom: -50px;
  padding-left: 2cm;
  font-size: 30px;
  text-align: left;
  list-style: none;
}
.location {
  color: #f9f9f9;
  text-align: left;
}
#temp-input {
  padding-left: 1cm;
  font-size: 50px;
  bottom: -280px;
  position: relative;
}

#units {
  padding-left: 0cm;
  font-size: 20px;
  bottom: -250px;
  position: relative;
}
.active {
  text-decoration: none;
  color: white;
  cursor: default;
}
.active:hover {
  text-decoration: none;
}
#city-input {
  font-size: 20px;
  padding-left: 1cm;
  bottom: -270px;
  position: relative;
}
#far-link {
  text-decoration: none;
}

#city-search {
  font-size: 16px;
  padding-left: 1cm;
  bottom: -250px;
  position: relative;
}
#current-input {
  background-color: #181d31;
  color: white;
  padding: 1px 6px;
  margin: 0 auto;
}
#click {
  background-color: #181d31;
  color: white;
}
.rainy p {
  font-size: 100px;
  position: relative;
  text-align: left;
  top: 20px;
}

.rainy h1 {
  color: #f9f9f9;
  font-size: 15px;
  text-align: left;
  position: relative;
  top: 300px;
}
.source-link {
  display: block;
  margin: 20px auto;
  text-align: center;
}
#forecast-weather-max-temp {
  padding-right: 50px;
}
#weekDays {
  margin-bottom: 0px;
}
